body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
  }

  .cell {
    width: 53px;
    height: 53px;
    border: 1px solid #0b84b5;
    text-align: center;
    line-height: 53px;
    cursor: pointer;
  }