body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-family: monospace
}

h1 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  font-size: 24px;
  color: rgba(206, 197, 197, 0.645);
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
    position: absolute;
    min-height: 50px;
    min-width: 100px;
    top: 74px;
    background-color: rgb(16, 16, 16);
  }


  .cell {
    width: 53px;
    height: 53px;
    border: 1px solid #e7eaec;
    line-height: 53px;
    cursor: pointer;
    position: relative;
  }

  .gray-neighbors {
    background-color: darkgray;
    pointer-events: none;
  }

  .red-cell {
    background-color: red;
  }

  #refreshBtn {
    border-radius: 40px;
    position: absolute;
    bottom: 71px; 
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: aqua;
  }

  #game-over {
    position: absolute;
    bottom: 32px; 
    color: rgba(224, 41, 41, 0.647);
    font-size: 24px;
  }